.characterList{
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    width:80%;
    margin:5% 10%;
}
.characterList h1{
    color:#443e3e;
    text-shadow: 1px 1px 5px #fff;
}
.character-name{
    text-shadow: 1px 1px 5px #fff;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.character-name h2{
    width:85%;
}
.initial{
    background-image: url('./loading.gif');
    background-color: inherit;
    opacity:.5;
    border-radius:50%;
    width:100%;
    height:90vh;
    background-size:contain;
    background-position: center center;
    background-repeat:no-repeat;

}@media (min-width:1200px){
    .initial{
        height:70vh;
    }
}
.character{
    display:flex;
    flex-direction:column;
    background-color:inherit;
    align-self: center;
    margin:2% 15%;
    padding-bottom:1%;
    width:45%;
    border:1px solid black;
    border-radius:5px;
    text-shadow: 1px 1px 5px #fff;
    background-color: rgba(66, 63, 66, 0.486);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.character-details{
    background-color:rgba(142, 122, 145, 0.164);
    width: 80%;
    margin: 1% 10%;
    padding:3% 0%;
    border-radius:60%;
}
.character p{
    color:#443e3e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.character a{
    text-decoration:underline;
    color:blue;
}
.button{
    width:10%;
    height:5vw;
    border-radius: 70px;
    color:black;
    border-color: black;
    font-weight: bold;
    background-color: rgba(56, 150, 68, 0.45);
    margin:5%;
    outline:none;
    align-items: center;
}

@media (max-width:600px){
    .button{
        height:10vw;
        width: 20%; 
        border-radius: 10px;
    }
}

.none{
    display:none;
}

@media (max-width: 600px){
    .characterList{
        width:90%;
        margin:5%;
    }
    .character{
        width:90%;
        margin:2% 5%;
    }
}
